/* Your CSS goes here */
#main {
  text-align: center;
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
}

#close {
  position: absolute;
  top: 90px;
  right: 0;
  width: 800px;
  height: 22px;
  overflow: hidden;
  z-index: 1000;
  background-color: black;
  text-align:right;
}

.closelink {
  color:white;
  text-decoration: none;
  font-size: 22px;
}

#close img {
  width: 100%;
}

@media (min-width: 801px) {
  #close {
    top: 104px;
  }
}


.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: black;
}

#nba {
  
}

#nbacontent {
  text-align:left;
}
